:root {
  --breakpoint: 768px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  margin: 0;
  font-family: "monaco", "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  overflow-x: hidden;
}

.page-title-text {
  font-size: calc(1.5rem + 2vw);
  font-weight: 700;
}

.bordering {
  border: 2px solid green;
}

p,
li {
  line-height: 1.5;
}
